{% extends "base.html" %}
{% block title %}{{ article.title }} :: lo9{% endblock %}
{% block navigation %}{{ article.title }}{% endblock %}
{% block header %}<a href="/" class="header-button header-button-left"><button>Back</button></a>{% endblock %}
{% block content %}

<div class="post-content"><header><h1><a href="{{ host }}/{{ article.key.id() }}" target="_blank">{{ article.title }}<br>{% set net = article.url|netloc %}<span class="link-text"><img src="https://s2.googleusercontent.com/s2/favicons?domain={{ net }}" /> {{ net }}</span></a></h1><p class="metadata"><span class="inline-block">읽음 {{ article.view }} · </span> <span class="inline-block">{{ article.post_time|timesince }} · </span><a class="external-link" target="_blank" href="https://twitter.com/share?text={{ article.title|url }} http://{{ host }}/{{ article.key.id() }}&url=">트위터</a> · <a class="external-link" target="_blank" href="http://www.facebook.com/sharer.php?u={{ host }}/{{ article.key.id() }}">페이스북</a></p></header></div>

<div id="disqus_thread"></div>
<script type="text/javascript">
    var disqus_shortname = 'lo9'; 
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>

{% endblock %}
