{% extends "base.html" %}
{% block search %}
        <form class="search_form" action="{{ url_for('search_keyword') }}" method="get" accept-charset="utf-8">
        <p class="">
            {{ search_form.keyword(placeholder="검색")|safe }}
        </p>
        </form>
{% endblock %}
{% block search2 %}
        <form class="search_form" action="{{ url_for('search_keyword') }}" method="get" accept-charset="utf-8">
        <p class="">
            {{ search_form.keyword(placeholder="검색")|safe }}
        </p>
        </form>
{% endblock %}
{% block content %}
<ul class="tableview tableview-links" id="hnlist">
    {% for article in news %}
        <li class="post-link"><a href="http://{{ host }}/{{ article.key.id() }}" class="detail-disclosure"><div class="number">{{loop.index}}.</div><div class="story"><b>{{ article.title }}</b><span class="metadata"><span class="link-text">{% set net = article.url|netloc %}<img src="https://s2.googleusercontent.com/s2/favicons?domain={{ net }}" /> {{net}}</span><br><span class="inline-block">{{ article.post_time|timesince }} · 읽음 {{ article.view }} </span></span></div></a><a href="http://www.{{ host }}/{{ article.key.id() }}/c" class="detail-disclosure-button"><span></span></a><a class="detail-disclosure-button comment_count" href="http://www.{{ host }}/{{ article.key.id() }}/c#disqus_thread"></a></li>
    {% else %}
        <li class="post-link">
            <p class="title">글이 없다.</p>
        </li>
    {% endfor %}
    {% if page %}
    <li id="more"><a class="more-link" id="{{page}}">더보기…</a></li>
    {% endif %}
</ul>

{% endblock %}

{% block tail_script %}
<script type="text/javascript">
    var disqus_shortname = 'lo9'; 
    (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());

$(function() {
        $('.more-link').live("click",function() {
        var last_msg_id = $(this).attr("id");
        if(last_msg_id!='end'){
        $.ajax({
        type: "GET",
        url: "./list/"+last_msg_id,
        beforeSend:  function() {
        $('a.more-link').html('<img src="/static/img/loader.gif" />');
        },
        success: function(html){
            $("#more").remove();
        $("ul.tableview").append(html);

        }
        });
          
        }

        return false;
        });
});
</script>
{% endblock %}
