{% extends "base.html" %}
{% block title %}올리기 :: lo9{% endblock %}
{% block navigation %}새로운 뉴스 올리기{% endblock %}
{% block header %}<a href="/" class="header-button header-button-left"><button>Back</button></a>{% endblock %}
{% block content %}
<div class="post">
	<form action="{{ url_for('news_post') }}" method="post" accept-charset="utf-8">
		{{ form.hidden_tag() }}
		<p class="new-post">
			{{ form.url.label }}
			{% if url %}
			{{ form.url(value=url)|safe }}
			{% else %}
			{{ form.url|safe }}
			{% endif %}
			{% if form.url.errors %}
			<ul class="errors">
				{% for error in form.url.errors %}
				<li>{{ error }}</li>
				{% endfor %}
			</ul>
			{% endif %}
		</p>
		<p class="new-post">
			{{ form.title.label }}
			{% if title %}
			{{ form.title(value=title)|safe }}
			{% else %}
			{{ form.title|safe }}
			{% endif %}
			{% if form.title.errors %}
			<ul class="errors">
				{% for error in form.title.errors %}
				<li>{{ error }}</li>
				{% endfor %}
			</ul>
			{% endif %}
		</p>
		<p class="add-news"><input type="submit" value="Add News"/></p>
	</form>
</div>
{% endblock %}
