{% extends "base.html" %}
{% block title %}올리기 :: lo9{% endblock %}
{% block navigation %}검색 결과{% endblock %}
{% block header %}<a href="/" class="header-button header-button-left"><button>Back</button></a>{% endblock %}
{% block search %}
        <form class="search_form" action="{{ url_for('search_keyword') }}" method="get" accept-charset="utf-8">
        <p class="">
            {{ search_form.keyword(placeholder="검색")|safe }}
        </p>
        </form>
{% endblock %}
{% block search2 %}
        <form class="search_form" action="{{ url_for('search_keyword') }}" method="get" accept-charset="utf-8">
        <p class="">
            {{ search_form.keyword(placeholder="검색")|safe }}
        </p>
        </form>
{% endblock %}
{% block content %}
	<ul class="tableview tableview-links" id="hnlist">
	    {% for doc in results %}
	        <li class="post-link"><a href="http://{{ host }}/{{ doc.fields[0].value }}" class="detail-disclosure"><div class="number">{{loop.index}}.</div><div class="story"><b>{{ doc.fields[1].value }}</b><span class="metadata"><span class="link-text">{% set net = doc.fields[2].value|netloc %}<img src="https://s2.googleusercontent.com/s2/favicons?domain={{ net }}" /> {{net}}</span><br><span class="inline-block">{{ doc.fields[3].value|timesince }} </span></span></div></a><a href="http://www.{{ host }}/{{ doc.fields[0].value }}/c" class="detail-disclosure-button"><span></span></a><a class="detail-disclosure-button comment_count" href="http://www.{{ host }}/{{ doc.fields[0].value }}/c#disqus_thread"></a></li>
	    {% else %}
	        <li>
	            <p class="title">검색 결과가 없다.</p>
	        </li>
	    {% endfor %}
	</ul>
{% endblock %}
